
body {
    background: #2257D6 url(../img/1.jpg) repeat-x 0 0;
    font-family: Tahoma, "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.headerWindows {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(70, 70, 255);
    padding: 0px;
    text-align: center;
    color: white;
    border-bottom: 2px solid #808080;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.headerWindows .icono {
    display: flex;
    align-items: flex-start;
}

.headerWindows .icono img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.headerWindows .botones button {
    background-color: rgb(70, 70, 255);
    color: white;
    border: none;
    padding: 4px 8px;
    margin: 0 4px;
    cursor: pointer;
}

.headerWindows .botones button img {
    width: 20px;
    height: 20px;
}

.headerWindows h3 {
    font-size: 10px;
}


.window {
    z-index: 1000;
    height: 50vh;
    background:  white url(../img/posit.webp) center/cover;
    
    border: 3px solid blue;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#ventanaEmergente {
   
    font-family: Arial, sans-serif;
    padding: 15px;
}

.window .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.window div {
    text-align: center;
    margin-bottom: 20px;
}

.window img {
    width: 70px;
    height: auto;
}

.window p {
    margin-left: 45px;
}

.window input {
    padding: 8px;
    margin: 8px;
    border: 1px solid #a0a0a0;
}

.window textarea {
    padding: 8px;
    margin: 8px;
    border: 1px solid #a0a0a0;
}

h1 {
    margin: 1em 0;
    text-align: center;
    
}

main {
    padding: 1em;
    overflow: auto;

}