
main article {
    margin: 15px;
    margin-left: -10px;
}

main article p {
    width: 10px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 10px;
    color: white;
}

main article img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

footer {
    position: fixed;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
}
.footerDiv img {
    position: fixed;
    bottom: 0;
    height: 29px;
    width: 15%;
}

.barra {
    right: 0;
    position: fixed;
    bottom: 0;
    width: 85%;
    background: #2257D6 url(../img/3.png) repeat-x 0 0;
    height: 29px;
}


body {
    background: #2257D6 url(../img/1.jpg) repeat-x 0 0;
    font-family: Tahoma, "Noto Sans", sans-serif;
}

